.planets {
  background-color: #01172f;
  /* background-image: url('../image/4DuYKpW.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  /* width: 100vw; */
}

.todos_imputes {
  align-items: center;
  backdrop-filter: blur(1px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 14px;
  height: auto;
  justify-content: center;
  margin: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  transition: 0.1s;

}

.button_addFiltro {
  background: #e0a931;
  border: none;
  border-color: 10px solid rgb(20, 19, 19);
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  color: white;
  cursor: pointer;
  font-family: Arial , Helvetica , sans-serif;
  font-size: 14px;
  height: 20px;
  margin: 5px;
  padding: 5px;
  text-transform: uppercase;
  transition: 0.1s;
}

table {
  backdrop-filter: blur(1px);
  background: rgba(248, 231, 28, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  margin: 16px;
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;

}

tr, td {
  backdrop-filter: blur(1px);
  background: rgba(248, 231, 28, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  color: black;
  font-size: 1.1rem;
}

thead {
  backdrop-filter: blur(6.5px);
  background: rgba(74, 144, 226, 0.25);
  background-color: #e0a931;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  font-size: 1.2rem;
  font-weight: 800;
  padding: 1rem;
}

tbody {
  backdrop-filter: blur(0.5px);
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

}
